In [1]:
import MySQLdb

In [3]:
conn = MySQLdb.connect(
    host = "db",
    user = "root",
    password = "root",
    db = "db"
)

In [4]:
cur = conn.cursor()

In [5]:
cur.execute("SELECT * FROM mytable;")
cur.fetchall()

((1, 'Taro'), (2, 'Jiro'), (3, 'Hanako'), (4, 'Pochi'))